:root {
    --background: #ffffff;
    --menu_hover: #00b0ff;
    --light_blue_background: #e1f5fe;
    --heavy_text: #424242;
    --light_text: #616161;
    --extra_light_text: #b0bec5;
  }

body{
    margin: 0 0 0 0;
    font-family: 'Roboto', sans-serif;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
      animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.menu_nav {
    box-shadow: 0 1px 1px rgba(0,0,0,0.09), 0 1px 1px rgba(0,0,0,0.20);
}
.menu_ul {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    height:100%;
}
.menu_li {
    align-self: flex-start;
    flex-grow: .025;
    list-style-type: none;
    padding-top: 16px;
    padding-bottom: 16px;
}
.menu_a,.menu_a:visited  {
    height:100%;
    text-decoration: none;
    color:var(--heavy_text);
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: calc(11px + (14 - 11) * ((100vw - 300px) / (1600 - 300)));
    padding-left: 2px;
    padding-right: 2px;
}

.menu_a:hover {
    color: var(--menu_hover);
    border-style: none none solid none;
}
.name {
    font-weight: 400;
    color: var(--heavy_text);
    font-style: normal;
    font-size: calc(45px + (64 - 45) * ((100vw - 300px) / (1600 - 300)));
}

.sub_name {
    color: var(--light_text);
    font-weight: 100;
    font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1600 - 300)));
}

.home_flex,.experience_flex,.education_flex,.contact_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.home_flex {
    background-color: var(--light_blue_background);
}
.company_name {
    font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1600 - 300)));
    color: var(--heavy_text);
    font-weight: 400;
    margin: 6px 0px 6px 0px;
}
.company_date_location_box,.education_university_date_box {
    display: flex;
    flex-direction: row;;
}

.company_date, .company_location {
    margin: 2px 18px 2px 18px;
    font-weight: 100;
    color: var(var(--light_text));
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));

}

.company_location {
    width: 10vw;
}

.education_title,.contact_title,.experience_title {
    font-size: calc(36px + (48 - 36) * ((100vw - 300px) / (1600 - 300)));
    margin: 0px 0px 0px 0px;
    font-weight: 900;
    color:var(--heavy_text);
    font-style: normal;
}

.graduation_date,.degree_name,.university_name {
    margin: 2px 16px 2px 16px;
    color: var(var(--light_text));
    font-weight: 100;
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));
}

.home_text,.experience_text,.education_text,.contact_text {
    width: calc(300px + (600 - 300) * ((100vw - 300px) / (1600 - 300)));
} 

.space {
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 4vh;
    border-style: none none none solid;
    border-color: var(--extra_light_text);
    border-width: 1px;
    width: calc(300px + (600 - 300) * ((100vw - 300px) / (1600 - 300)));
}

.space_no_border {
    height: 6vh;
}